h2 {
    color: whitesmoke;
    font-family: Helvetica;
    font-size: 25px;
    text-align: center;
    background-color: black;
}

img{
    width: 200px;
    height: 100px;
}

body{
    background-color: black;
    background-image: url(images/colorful-spring-background-with-bokeh-3d-rendering-generative-ai_887552-129.avif)
}
    
nav a{
    display: inline;
    padding: 10px;
    color: black;
    text-decoration: wavy;
    float: left;
    background-color: white;
}

nav a:hover{
    background-color: gray;
}

p{
    margin: 25px 30px 35px 40px;
}